{
    "cryptoNodes":[
        {
            "NodeId":"{COIN_NODE_ID}",
            "NodeRPCAddress":"127.0.0.1",
            "NodeRPCPort":{RPC_PORT},
            "NodeRPAuth":"{RPC_USER}:{RPC_PASSWORD}"
        }
    ]
}
